<div class="form-login">
    <div class="top">
      <h1 id="title"><span id="logo">Thesis Management System</span></h1>
    </div>
    <div class="login-box animated fadeInUp">
      <div class="box-header">
        <h2>Log In</h2>
      </div>
      <%= form_for(:session, url: login_path) do |f| %>
        <label for="username">Email</label>
        <br/>
        <%= f.email_field :email, id: "username" %>
        <br/>
        <label for="password">Password</label>
        <br/>
        <%= f.password_field :password, id: "password" %>
        <br/>
        <%= f.check_box :remember_me %>
        <span>Remember me</span>
        <br/>
        <%= f.submit "Sign in", class: "login" %>
      <% end %>
      <% flash.each do |message_type, message| %>
        <div class="red-text"><%= message %></div>
      <% end %>
    </div>
</div>
