<head>
  <link rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
</head>

<div class="form-login">
  <div class="container">
    <div class="top">
      <h1 id="title" class="hidden"><span id="logo">Thesis Management System</span></h1>
    </div>
    <div class="login-box animated fadeInUp">
      <div class="box-header">
        <h2>Log In</h2>
      </div>
      <%= form_for(:session, url: login_path) do |f| %>
        <label for="username">Email</label>
        <br/>
        <%= f.email_field :email, id: "username" %>
        <br/>
        <label for="password">Password</label>
        <br/>
        <%= f.password_field :password, id: "password" %>
        <br/>
        <%= f.check_box :remember_me %>
        <span>Remember me</span>
        <br/>
        <%= f.submit "Sign in", class: "login" %>
      <% end %>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %> red-text"><%= message %></div>
      <% end %>
    </div>
  </div>
</div>
