<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Thesis Management System</h3>
    </div>
    <ul class="list-unstyled components">
      <li>
        <%= link_to "Profile", user_path(current_user) %>
      </li>
      <li class="active">
        <% if current_user.thesis.present? %>
          <%= link_to "Thesis", theses_path %>
        <% else %>
          <%= link_to "Thesis", new_thesis_path %>
        <% end %>
      </li>
      <li>
        <%= link_to "Log out", logout_path, method: :delete %>
      </li>
    </ul>
  </nav>
</div>
<div id="content">
  <div class="table-title">
    <h1>Tasks</h1>
  </div>
  <div id="new-task">
    <%= link_to "New Task", new_task_path(thesis_id: params[:thesis_id].to_i), class: "btn btn-primary edit-thesis" %>
  </div>
  <table class="table table-striped task">
    <tr>
      <th>Task name</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    <% if @tasks.present? %>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.name %></td>
          <td><span class="<%= task.status %>"><%= task.status %></span></td>
          <td>
            <%= link_to task_path(task), class: "btn btn-primary" do %>
              <i class="fa-pencil-square" aria-hidden="true"></i>
            <% end %>
            <%= link_to edit_task_path(task), class: "btn btn-primary" do %>
              <i class="fa fa-pencil-square" aria-hidden="true"></i>
            <% end %>
            <%= link_to task_path(task), method: :delete, class: "btn btn-danger" do %>
              <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <%= link_to "Back", thesis_path(id: params[:thesis_id]), class: "btn btn-primary edit-thesis" %>
</div>

<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
