<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Thesis Management System</h3>
    </div>
    <ul class="list-unstyled components">
      <li>
        <%= link_to "Profile", user_path(current_user) %>
      </li>
      <li class="active">
        <% if current_user.thesis.present? %>
          <%= link_to "Thesis", theses_path %>
        <% else %>
          <%= link_to "Thesis", new_thesis_path %>
        <% end %>
      </li>
      <li>
        <%= link_to "Log out", logout_path, method: :delete %>
      </li>
    </ul>
  </nav>
</div>
<div id="content">
  <div class="table-title">
    <h1>Tasks</h1>
  </div>
  <%= form_for @task do |f| %>
    <%= render "shared/error_messages", object: @task %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <%= f.hidden_field :thesis_id, value: params[:thesis_id] %>
    <%= link_to "Back", tasks_path(thesis_id: params[:thesis_id]), class: "btn btn-primary edit-thesis" %>
    <%= f.submit "Create", class: "btn btn-primary edit-thesis" %>
  <% end %>
</div>

<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
