<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Thesis Management System</h3>
    </div>
    <ul class="list-unstyled components">
      <li>
        <%= link_to "Profile", user_path(current_user) %>
      </li>
      <li class="active">
        <% if current_user.thesis.present? %>
          <%= link_to "Thesis", theses_path %>
        <% else %>
          <%= link_to "Thesis", new_thesis_path %>
        <% end %>
      </li>
      <li>
        <%= link_to "Log out", logout_path, method: :delete %>
      </li>
    </ul>
  </nav>
</div>
<div id="content">
  <div class="table-title">
    <h1><%= @task.name %></h1>
  </div>
  <h5>Status: <td class=" btn <%= @task.status %>"><%= @task.status %></td></h5>
  <hr/>
  <h4>làm đến đây thì mệt muốn đi nghỉ, mai làm tiếp và phát hiện ra ông add css và js sai vcc ra ý</h4>

  <h4>phần comment để t làm tiếp nha, còn ông làm phần admin đi </h4>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>User Comment Example</h3>
      </div><!-- /col-sm-12 -->
    </div><!-- /row -->
    <div class="row">
      <div class="col-sm-1">
        <div class="thumbnail">
          <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
        </div><!-- /thumbnail -->
      </div><!-- /col-sm-1 -->

      <div class="col-sm-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>myusername</strong> <span class="text-muted">commented 5 days ago</span>
          </div>
          <div class="panel-body">
            Panel content
          </div><!-- /panel-body -->
        </div><!-- /panel panel-default -->
      </div><!-- /col-sm-5 -->
    </div><!-- /row -->
  </div><!-- /container -->


</div>

<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
