<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Thesis Management System</h3>
    </div>
    <ul class="list-unstyled components">
      <li>
        <%= link_to "Profile", user_path(current_user) %>
      </li>
      <li class="active">
        <% if current_user.thesis.present? %>
          <%= link_to "Thesis", theses_path %>
        <% else %>
          <%= link_to "Thesis", new_thesis_path %>
        <% end %>
      </li>
      <li>
        <%= link_to "Log out", logout_path, method: :delete %>
      </li>
    </ul>
  </nav>
</div>
<div id="content">
  <div class="table-title">
    <h1><%= @task.name %></h1>
  </div>
  <h5>Status: <span class="<%= @task.status %>"><%= @task.status %></span></h5>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>Comment: </h3>
      </div><!-- /col-sm-12 -->
    </div><!-- /row -->

    <% if @comments.present? %>
      <% @comments.each do |comment| %>
        <div class="row">
          <div class="col-sm-1">
            <div class="thumbnail">
              <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
            </div><!-- /thumbnail -->
          </div><!-- /col-sm-1 -->

          <div class="col-sm-5">
            <div class="panel panel-default">
              <div class="panel-heading">
                <strong><%= comment.user.name %></strong>
                <span class="text-muted"><%= time_ago_in_words comment.created_at %> ago</span>
              </div>
              <div class="panel-body">
                <%= comment.content %>
              </div><!-- /panel-body -->
            </div><!-- /panel panel-default -->
          </div><!-- /col-sm-5 -->
        </div><!-- /row -->
      <% end %>
    <% end %>

  </div><!-- /container -->


</div>

<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
