<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Thesis Management System</h3>
    </div>
    <ul class="list-unstyled components">
      <li>
        <%= link_to "Profile", user_path(current_user) %>
      </li>
      <li class="active">
        <% if current_user.thesis.present? %>
          <%= link_to "Thesis", theses_path %>
        <% else %>
          <%= link_to "Thesis", new_thesis_path %>
        <% end %>
      </li>
      <li>
        <%= link_to "Log out", logout_path, method: :delete %>
      </li>
    </ul>
  </nav>
</div>
<div id="content">
  <div class="table-title">
    <h1>Thesis</h1>
  </div>
  <div id="new-task">
    <%= link_to "New Thesis", new_thesis_path, class: "btn btn-primary edit-task" %>
  </div>
  <table class="table table-striped task">
    <tr>
      <th>Thesis name</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    <% if @thesis.present? %>
      <% @thesis.each do |thesis| %>
        <tr>
          <td><%= link_to "#{thesis.name}", thesis_path(thesis) %></td>
          <td ><span class="label <%= thesis.status %>"><%= thesis.status %></span></td>
          <td>
            <%= link_to edit_thesis_path(thesis), class: "btn btn-primary" do %>
              <i class="fa fa-pencil-square" aria-hidden="true"></i>
            <% end %>
            <%= link_to thesis_path(thesis), method: :delete, class: "btn btn-danger" do %>
              <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>

<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
