<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Thesis Management System</h3>
    </div>
    <ul class="list-unstyled components">
      <li>
        <%= link_to "Profile", user_path(current_user) %>
      </li>
     <li class="active">
        <% if current_user.thesis.present? %>
          <%= link_to "Thesis", theses_path %>
        <% else %>
          <%= link_to "Thesis", new_thesis_path %>
        <% end %>
      </li>
      <li>
        <%= link_to "Log out", logout_path, method: :delete %>
      </li>
    </ul>
  </nav>
</div>
<div id="content">
  <div class="table-title">
    <h1><%= @thesis.name %></h1>
  </div>
  <h5>Status: <span class="btn <%= @thesis.status %>"><%= @thesis.status %></span></h5>
  <hr/>
  <div>
    <h4>Description</h4>
    <%= @thesis.description %>
    <hr/>
  </div>
  <div>
    <h4>Progress</h4>
    <%= @thesis.progress %>
  <hr/>
  </div>
  <div>
    <% if @thesis.status == "approved" %>
      <%= link_to "All Task", tasks_path(thesis_id: @thesis.id), class: "btn btn-default" %>
    <% end %>
  </div>
  <br/>
  <%= link_to "Back", theses_path(current_user), class: "btn btn-primary edit-thesis" %>
  <%= link_to "Edit", edit_thesis_path(@thesis), class: "btn btn-primary edit-thesis" %>
</div>

<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
