<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Thesis Management System</h3>
    </div>
    <ul class="list-unstyled components">
      <li class="active">
        <%= link_to "Profile", user_path(@user) %>
      </li>
      <li>
        <% if @user.thesis.present? %>
          <%= link_to "Theses", theses_path %>
        <% else %>
          <%= link_to "Theses", new_thesis_path %>
        <% end %>
      </li>
      <li>
        <%= link_to "Log out", logout_path, method: :delete %>
      </li>
    </ul>
  </nav>
</div>
<div id="content">
  <div class="table-title">
    <h1>Edit Profile</h1>
  </div>
  <%= form_for @user do |f| %>
    <%= render "shared/error_messages", object: @user %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
    <%= link_to "Back", user_path(@user), class: "btn btn-primary" %>
    <%= f.submit "Update", class: "btn btn-success"  %>
  <% end %>
</div>
