<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Thesis Management System</h3>
    </div>
    <ul class="list-unstyled components">
      <li class="active">
        <%= link_to "Profile", user_path(@user) %>
      </li>
      <li>
        <% if @user.thesis.present? %>
          <%= link_to "Thesis", thesis_path(@user.thesis) %>
        <% else %>
          <%= link_to "Thesis", new_thesis_path %>
        <% end %>
      </li>
      <li>
        <a href="#">Portfolio</a>
      </li>
      <li>
        <%= link_to "Log out", logout_path, method: :delete %>
      </li>
    </ul>
  </nav>
</div>
<div id="content">
  <div class="table-title">
    <h1>Profile</h1>
  </div>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>Student code</td>
        <td><%= @user.id %></td>
      </tr>
      <tr>
        <td>Name</td>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= @user.email %></td>
      </tr>
        <td>Role</td>
        <td><%= @user.role %></td>
      </tr>
    </tbody>
  </table>
  <%= link_to "Edit profile", edit_user_path(@user), class: "btn btn-primary" %>
</div>

<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
