<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Thesis Management System</h3>
    </div>
    <ul class="list-unstyled components">
      <li>
        <%= link_to "Profile", admin_user_path(current_user) %>
      </li>
     <li class="active">
        <%= link_to "Theses", admin_theses_type_path %>
      </li>
      <li>
        <%= link_to "Log out", logout_path, method: :delete %>
      </li>
    </ul>
  </nav>
</div>
<div id="content">
  <div class="table-title">
    <h1>Theses</h1>
  </div>
  <div id="new-task">
    <%= link_to "New Thesis", new_admin_thesis_path, class: "btn btn-primary edit-task" %>
  </div>
  <div>
    <ul class="list-group list-theses">
        <li class="list-group-item select-theses">
          <%= link_to "Specialized Project", admin_theses_path(type: "Specialized Project") %>
        </li>
        <li class="list-group-item select-theses">
          <%= link_to "Graduation Thesis", admin_theses_path(type: "Graduation Thesis") %>
        </li>
        <li class="list-group-item select-theses">
          <%= link_to "Basic Project", admin_theses_path(type: "Basic Project") %>
        </li>
    </ul>
  </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
