<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Thesis Management System</h3>
    </div>
    <ul class="list-unstyled components">
      <li>
        <%= link_to "Profile", admin_user_path(current_user) %>
      </li>
     <li class="active">
        <%= link_to "Thesis", admin_theses_path %>
      </li>
      <li>
        <%= link_to "Log out", logout_path, method: :delete %>
      </li>
    </ul>
  </nav>
</div>
<div id="content">
  <div class="table-title">
    <h1>Thesis</h1>
  </div>
  <div id="new-task">
    <%= link_to "New Thesis", new_admin_thesis_path, class: "btn btn-primary edit-task" %>
  </div>
  <table class="table table-striped task">
    <tr>
      <th>Student name</th>
      <th>Thesis name</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    <% if @theses.present? %>
      <% @theses.each do |thesis| %>
        <tr>
          <td>
            <% if thesis.user.present? %>
              <%= thesis.user.name %>
            <% end %>
          </td>
          <td><%= link_to "#{thesis.name}", admin_thesis_path(thesis) %></td>
          <td >
            <% if thesis.user.present? %>
              <span class="label <%= thesis.status %>"><%= thesis.status %></span>
            <% end %>
          </td>
          <td>
            <%= link_to edit_admin_thesis_path(thesis), class: "btn btn-primary", title: "Edit" do %>
              <i class="fa fa-pencil-square" aria-hidden="true"></i>
            <% end %>
            <%= link_to admin_thesis_path(thesis), method: :delete, class: "btn btn-danger", title: "Delete" do %>
              <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>

<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
